<script>
  $( window ).on("load", function() { displaySpinner("/automationlistitems"); });
</script>
<h3>Active Automation Objects for <%= @selected_object %>:</h3>
<div id="spinner"></div>
<div id="results"></div>

