@font-face {
	font-family: "ArcadeClassic";
	src: url("../font/ka1.ttf") format("truetype");
}

body {
  font-family: "Helvetica";
}

h1 {
  font-family: "ArcadeClassic";
}

p {
  font-size:75%;
}

td {
  font-size:75%;
}

#spinner {
  position: relative;
  height: 150px;
}

.button {
  background:    #674ea7;
  border:        1px solid #556699;
  border-radius: 5px;
  padding:       8px 20px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 14px/1 "Roboto", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
}

.buttoncell {
    padding: 20px;
}